<html
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:comment><!--
Dashboard page view
Available variables:
  {callGroups}
  {activeCalls}
  {applicant}
  {countries}
  {constants}
  {countAll}
  {proposalsActive}
  {proposalsArchived}
  {proposalsActiveCommentsCount}
  {proposalsArchivedCommentsCount}
  {proposalsActiveFilesCount}
  {proposalsArchivedFilesCount}
  {settings}
--></f:comment>

<f:section name="content">
    <f:variable name="dashboardTemplate">{f:if(condition: settings.dashboardTemplate, then: settings.dashboardTemplate, else: 'DashboardDefault')}</f:variable>
    <f:render partial="Applicant/{dashboardTemplate}" section="content" arguments="{_all}"/>
</f:section>

</html>
