<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

Edit masterdata view
Available variables:
  {applicant}
  {countries}
  {settings}

<f:section name="content">
  <f:if condition="{applicant}">
    <f:then>
        <h2><f:translate key="tx_openoap_applicant.masterdataRegister.header" /></h2>
        <p><f:translate key="tx_openoap_applicant.masterdataRegister.text" /></p>
      
      <f:render partial="FlashMessages" arguments="{_all}" />
      <f:render partial="FormErrors" arguments="{object:Applicant}" />
      
      <f:form
          name="applicant"
          object="{applicant}"
          action="update"
          class="form form--register">
          
          <f:comment><f:form.hidden name="token" value="{token}" /></f:comment>
          
          <div>
            <f:render partial="Applicant/FormFields" arguments="{applicant:applicant, countries:countries}" />
          </div>
          
          <div class="form__buttons">
            <f:link.typolink class="button button--alternative" parameter="{settings.dashboardPageId}">
              <f:translate key="tx_openoap_applicant.form.skipStep" />
            </f:link.typolink>
            <f:form.button type="submit" class="button" value="1" data="{dialog-next:1}" name="save">
                <f:translate key="tx_openoap_applicant.form.submitSave" />
            </f:form.button>
          </div>
      </f:form> 
    </f:then>
    
    <f:else>
      <p><f:translate key="tx_openoap_applicant.notLoggedIn.text" /></p>
    </f:else>
    
  </f:if>

<f:comment>
    <h1>New Applicant</h1>

    <f:flashMessages />

    <f:render partial="FormErrors" />

    <f:form action="create" name="newApplicant" object="{newApplicant}">
    <f:render partial="Applicant/FormFields" />
    <f:form.submit value="Create new" />
    </f:form>
</f:comment>

</f:section>
</html>
