<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="form__group">
    <v:condition.iterator.contains needle="{field}" haystack="{errorCodes}">{v:variable.set(name:'inError',value:'1')}</v:condition.iterator.contains>
    <v:variable.set name="additionalAttrs"><v:variable.convert type="array"/></v:variable.set>
    <f:if condition="{autocomplete}"><v:variable.set name="additionalAttrs.autocomplete" value="{autocomplete}" /></f:if>
    <f:if condition="{inError}"><v:variable.set name="additionalAttrs.aria-invalid" value="true" /></f:if>

    <label for="field_{field}"{f:if(condition:'{inError}',then:' class="form__error"')}>
        <f:translate key="tx_openoap_domain_model_applicant.{labelIdent}" />
        <f:if condition="{required}">
            <v:variable.set name="additionalAttrs.aria-required" value="true" />
            <f:render partial="Required" arguments="{}" />
        </f:if>
    </label>

    <f:form.textfield
        id="field_{field}"
        property="{field}"
        class="{f:if(condition:'{inError}',then:'form__error')}"
        additionalAttributes="{additionalAttrs}"
        maxlength="{maxlength}"
    />
</div>

</html>
