<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:sd="http://typo3.org/ns/BeechIt/FalSecuredownload/ViewHelpers"
      v:schemaLocation="http://fluidtypo3.org/schemas/vhs-1.8.5.xsd"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">

<f:spaceless>
    <script>(function () {window.OAP = window.OAP || {}; window.OAP.labels = <f:format.raw><f:format.json>{jsMessages}</f:format.json></f:format.raw>}());</script>
    <f:asset.script identifier="open_oap_scripts" src="EXT:open_oap/Resources/Public/JavaScript/scripts.js" defer="1"/>

    <f:render partial="FlashMessages" arguments="{_all}" />

    <h1 class="page__title"><span class="hyphenated">{proposal.call.title}</span></h1>
    <div class="component component--layout-content-width">
        <h2><span class="hyphenated">{proposal.title}</span></h2>
        <f:if condition="{pageControl.current} == 1">
            <div class="form__text form__text--intro">
                <f:format.html>{proposal.call.introText}</f:format.html>
            </div>
        </f:if>
    </div>
    <v:variable.set name="errorCounts" value="{validationResults.pages.{pageControl.current} -> f:count()}"/>
    <f:form
        action="update" name="proposal" object="{proposal}" class="form form--proposal" id="proposal-form-{proposal.uid}"
        additionalAttributes="{'data-oap-servererror':errorCounts,'data-oap-proposal':proposal.uid}" enctype="multipart/form-data" method="post">
        <div role="alert" id="proposal-form-{proposal.uid}-alert"></div>
        <div>
            <f:form.hidden name="currentPage" value="{pageControl.current}"/>
            <f:form.hidden name="survey" value="{survey}"/>
            <f:for each="{proposal.answers}" as="answer" iteration="a">
                <v:variable.set name="aIndex" value="{a.index}"/>
                <f:form.hidden property="answers.{aIndex}.__identity" value="{answer.uid}"/>
            </f:for>
        </div>
        <f:comment><!--               PAGES                                    --></f:comment>
        <f:for each="{proposal.call.formPages}" as="formPage" key="pageId" iteration="pageIt">
            <f:if condition="{formPage.type} == {pageTypes.PAGETYPE_DEFAULT}}">
            <f:then>
                <f:form.hidden name="previewPage" value="0"/>
                <f:if condition="{pageControl.current} == {pageIt.cycle}">
                    <div class="row" >
                        <div class="column column--size3">
                            <f:render partial="Proposal/FormMenu" arguments="{_all}" />
                        </div>
                        <div class="column column--size9">

                            <div class="form__page">
                                <div class="formpage-intro">
                                    <h2 class="formpage-intro__headline">{formPage.title}</h2>
                                    <f:if condition="{formPage.introText}">
                                        <div class="formpage-intro__text">{formPage.introText -> f:format.html()}</div>
                                    </f:if>
                                    <f:comment><!--
                                    <div class="component component--layout-content-width">
                                        <f:render partial="FormErrors" arguments="{_all}"/>
                                    </div>
                                    --></f:comment>

                                    <f:if condition="{formPage.itemGroups -> f:count()} && !{survey}">
                                        <f:comment><!-- show requiredInfo only if there are item groups and it is not survey--></f:comment>
                                        <f:render partial="RequiredInfo"/>
                                    </f:if>

                                </div>
                                <f:render partial="Proposal/Edit" arguments="{_all}" />

                                <f:render partial="Utility/StickyNavigation" arguments="{_all}" />

                            </div>
                        </div>
                    </div>
                </f:if>
            </f:then>
            <f:else>
                <div class="component component--layout-content-width">
                    <f:form.hidden name="previewPage" value="1"/>
                    <f:render partial="Proposal/Preview" arguments="{_all}" />

                    <div class="form__finish">
                        <f:if condition="{validationResults.pages ->f:count()} == 0">
                            <f:then>

                                <f:for each="{proposal.call.items}" as="item">
                                    <fieldset >
                                        <f:comment><!-- Undefined "answerId" leads to "PHP Runtime Deprecation Notice: str_replace(): Passing null to parameter #2 ($replace) of type array|string is deprecated" --></f:comment>
                                        <f:if condition="!{answerId}">
                                            <f:variable name="answerId" value=""/>
                                        </f:if>
                                        <legend class="form__label-question" id="legend--{propertyKeyIndex}">{item.question} <f:if condition="{answersMap.{answerId}.item.MSign}"><f:render partial="Required.html" arguments="{MSign:'{answersMap.{answerId}.item.MSign}'}" /></f:if></legend>
                                        <f:if condition="{item.introText}"><div class="form__text form__text--intro">{item.introText -> f:format.html()}</div></f:if>

                                        <f:if condition="{item.helpText}">
                                            <div class="form__helptext">
                                                <button type="button" class="form__helptext-control" aria-controls="oap-help-{propertyKeyIndex}" aria-expanded="false" data-disclosure-control>{f:translate(key:'tx_openoap_form.helptext.header')}</button>
                                                <div class="form__helptext-text" id="oap-help-{propertyKeyIndex}">{item.helpText -> f:format.html()}</div>
                                            </div>
                                        </f:if>

                                        <fieldset class="form__finishcheck">
                                            <div class="form__checkable-group form__checkable-group--radio {f:if(condition: '{item.additionalValue}', then: 'form__checkable-group--additionalvalue', else: '')} ">
                                                <f:for each="{submitItemOptions.{item.uid}.options}" as="checkboxItem" iteration="i">
                                                   <div class="checkbox">
                                                        <label for="rb--{item.uid}-checkbox--{checkboxItem.key}" class="form__checkable-label" <f:if condition="{i.isFirst}">data-legend="legend--rb--{item.uid}-checkbox--{checkboxItem.key}"</f:if> >
                                                            <f:form.checkbox
                                                                name="submit_accepted[{item.uid}]"
                                                                value="{checkboxItem.key}"
                                                                class="form__checkable submit_accepted"
                                                                id="rb--{item.uid}-checkbox--{checkboxItem.key}"
                                                                additionalAttributes='{answersMap.{answerId}.item.additionalAttributes}'
                                                            />
                                                            <span class="form__styled-checkbox"></span><f:format.raw>{checkboxItem.label}</f:format.raw>
                                                        </label>
                                                   </div>
                                                </f:for>
                                            </div>
                                        </fieldset>
                                    </fieldset>
                                </f:for>
                                <f:comment><!--
                                    <fieldset class="form__finishcheck">
                                    <div class="form__checkable-group form__checkable-group--radio">
                                        <div class="checkbox">
                                            <label for="submit_accepted_1" class="form__checkable-label">
                                                <f:form.checkbox
                                                        multiple="0"
                                                        name="submit_accepted"
                                                        value="1"
                                                        class="form__checkable submit_accepted"
                                                        id="submit_accepted_1"
                                                />
                                                <span class="form__styled-checkbox"></span>{f:translate(key:'tx_openoap.general.submit_accepted')}
                                            </label>
                                        </div>
                                    </div>
                                    </fieldset>
                                --></f:comment>
                            </f:then>
                            <f:else>
                                <div class="form__error-list-box">
                                    <p class="form__error-list-text">{f:translate(key:'tx_openoap.general.submit_disabled')}</p>
                                </div>

                            </f:else>
                        </f:if>
                        <div class="form__buttons">
                            <span class="form__buttons--left">
                                <f:form.button type="submit" class="button button--linkstyle" name="gotoPage" value="{pageControl.last}"
                                               additionalAttributes="{'data-oap-modaltext':'JSMSG_MODAL_CONTENT','data-oap-modalsubmit':'JSMSG_MODAL_SAVE','data-oap-modalcancel':'JSMSG_MODAL_KEEPEDITING'}">
                                    {f:translate(key:'tx_openoap.general.back_to_proposal')}
                                </f:form.button>
                                <f:form.button type="submit" class="button" value="1" id="submit-proposal" name="submit" disabled="1"
                                               additionalAttributes="{'data-oap-modaltext':'JSMSG_MODAL_CONTENT','data-oap-modalsubmit':'JSMSG_MODAL_SAVE','data-oap-modalcancel':'JSMSG_MODAL_KEEPEDITING'}">
                                    {f:translate(key:'tx_openoap.general.submit')}
                                </f:form.button>
                            </span>
                        </div>
                    </div>
                </div>

                <f:render partial="Utility/StickyNavigation" arguments="{_all}" />
            </f:else>
            </f:if>
        </f:for>
    </f:form>
    </f:spaceless>

    <f:render partial="Modal"
              arguments='{message:"{f:translate(key:\'tx_openoap_form.modal.hint\')}",cancel:"{f:translate(key:\'tx_openoap_form.modal.edit\')}",submit:"{f:translate(key:\'tx_openoap_form.modal.save\')}"}'
    />
    <f:render partial="Loader" />
</f:section>
