<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     v:schemaLocation="http://fluidtypo3.org/schemas/vhs-1.8.5.xsd"
     data-namespace-typo3-fluid="true">

    <f:if condition="{item.additionalValue}">
        <div class="form__additional-text" data-legend="legend--{propertyKeyIndex}">
        <f:if condition="{item.additionalType} == 2">
            <f:then>
                <f:if condition="{answersMap.{answerId}.item.additionalAttributes.data-oap-maxlength} <= {textareaCharLevels.TEXTAREA_MEDIUM_MIN_CHARS}"><f:variable name="classModifier" value="--s"/></f:if>
                <f:if condition="{answersMap.{answerId}.item.additionalAttributes.data-oap-maxlength} > {textareaCharLevels.TEXTAREA_MEDIUM_MIN_CHARS} and {answersMap.{answerId}.item.additionalAttributes.data-oap-maxlength} <= {textareaCharLevels.TEXTAREA_MEDIUM_MAX_CHARS}"><f:variable name="classModifier" value="--m"/></f:if>
                <f:if condition="{answersMap.{answerId}.item.additionalAttributes.data-oap-maxlength} > {textareaCharLevels.TEXTAREA_MEDIUM_MAX_CHARS}"><f:variable name="classModifier" value="--l"/></f:if>
                <f:form.textarea
                        property="{propertyKeyAdditionalValue}"
                        class="form__textarea form__textarea--additional form__textarea{classModifier} {answersMap.{answerId}.item.classStr}"
                        id="oap-input-{propertyKeyIndexAddValue}"
                        additionalAttributes='{answersMap.{answerId}.item.additionalAttributes--additionalValue}'
                />
            </f:then>
            <f:else>
                <f:form.textfield
                        type="text"
                        property="{propertyKeyAdditionalValue}"
                        class="form__textfield form__textfield--additional"
                        id="oap-input-{propertyKeyIndexAddValue}"
                />
            </f:else>
        </f:if>
        </div>
    </f:if>

</html>
