<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      v:schemaLocation="http://fluidtypo3.org/schemas/vhs-1.8.5.xsd"
      data-namespace-typo3-fluid="true">

<f:comment><!-- Debug output of group structure
<f:render partial="Debug/GroupsStructur" arguments="{_all}" />
--></f:comment>
<f:for each="{formPage.itemGroups}" as="itemGroupL0" key="groupId" iteration="groupIt">
    <f:if condition="{itemGroupL0.type} == 1">
        <f:then>
            <f:comment><!-- MetaGroup --></f:comment>
            <v:iterator.loop iteration="counterWrapper" count="{groupsCounter.{itemGroupL0.uid}.current}" >
                <fieldset class="form__grouped-fieldset">
                    <legend class="form__group-legend form__group-legend--metagroup" >{itemGroupL0.title} #{counterWrapper.cycle}</legend>
                    <div class="" style="position:relative;padding-left: 2rem; border-left: 3px solid #818994;">
                        <span style="position:absolute;bottom:0;left:-7px;"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="5" cy="5" r="5" fill="#818994"/></svg></span>
                    <div class="formpage-group__intro">
                        <f:if condition="{itemGroupL0.introText} || {itemGroupL0.helpText}">
                            <div class="form__group ">
                                <f:if condition="{itemGroupL0.introText}">
                                    <div class="form__text form__text--intro">
                                        {itemGroupL0.introText -> f:format.html()}
                                    </div>
                                </f:if>
                                <f:if condition="{itemGroupL0.helpText}">
                                    <div class="form__helptext">
                                        <button type="button" class="form__helptext-control" aria-controls="oap-help-{propertyKeyIndex}" aria-expanded="false" data-disclosure-control>{f:translate(key:'tx_openoap_form.helptext.header')}</button>
                                        <div class="form__helptext-text" id="oap-help-itemgroup-{itemGroup.uid}">{itemGroupL0.helpText -> f:format.html()}</div>
                                    </div>
                                </f:if>
                            </div>
                        </f:if>
                    </div>


                    <f:if condition="{groupsCounter.{itemGroupL0.uid}.current} > {itemGroupL0.repeatableMin} ">
                        <div class="form__section-delete">
                            <f:form.button
                                additionalAttributes="{'data-oap-modaltext':'JSMSG_MODAL_CONTENT','data-oap-modalsubmit':'JSMSG_MODAL_DELETE_GROUP','data-oap-modalcancel':'JSMSG_MODAL_KEEPEDITING'}"
                                type="submit"
                                class="button button--linkstyle button--linkstyle-reduced"
                                name="removeGroup"
                                value="{f:format.json(value: {L1GroupUid: '', L0GroupUid: '{itemGroupL0.uid}', L0GroupIndex: '{counterWrapper.index}', L1GroupIndex: ''})}"
                            >
                                <f:render partial="ButtonIcon" arguments="{type:'subtract'}"/><f:format.raw>{f:translate(key:'tx_openoap.general.remove_group', arguments: {0: itemGroupL0.title} )} #{counterWrapper.cycle}</f:format.raw>
                            </f:form.button>
                        </div>
                    </f:if>
                    <v:variable.set name="groupCounterL0" value="{counterWrapper.index}" />
                    <v:variable.set name="itemGroupSecondLevel" value="1" />
                    <f:for each="{itemGroupL0.itemGroups}" as="itemGroup" key="groupIdL0" iteration="groupItL0">
                        <v:variable.set name="counterWrapperIndex" value="{counterWrapper.index}" />
                        <v:variable.set name="itemGroupL0Uid" value="{itemGroupL0.uid}" />
                        <v:variable.set name="itemGroupUid" value="{itemGroup.uid}" />
                        <v:variable.set name="groupsCounterIndex" value="{itemGroupL0Uid}.instances.{counterWrapperIndex}.{itemGroupUid}" />

                        <v:variable.set name="groupCurrentN" value="{groupsCounter.{groupsCounterIndex}.current}" />
                        <v:variable.set name="nestedGroupClass" value="form__icon--nested-group" />
                        <v:variable.set name="nestedGroup" value="1" />

                        <f:if condition="{itemGroup.displayType} == {groupDisplayTypes.GROUPDISPLAY_DEFAULT}">
                            <f:then>
                                <f:render partial="Proposal/GroupDefault" arguments="{_all}" />
                            </f:then>
                            <f:else>
                                <f:render partial="Proposal/GroupTable" arguments="{_all}" />
                            </f:else>
                        </f:if>
                    </f:for>
                    </div>
                </fieldset>

            </v:iterator.loop>

            <f:comment><!-- add metagroup --></f:comment>
            <f:if condition="{groupsCounter.{itemGroupL0.uid}.current} < {itemGroupL0.repeatableMax} AND {editState} == {proposalStates.META_PROPOSAL_EDITABLE_FIELDS_NO_LIMIT}">
                <f:then>
                    <div class="form__section-add">
                        <f:form.button
                            additionalAttributes="{'data-oap-modaltext':'JSMSG_MODAL_CONTENT','data-oap-modalsubmit':'JSMSG_MODAL_SAVE','data-oap-modalcancel':'JSMSG_MODAL_KEEPEDITING'}"
                            type="submit" class="button button--linkstyle button--linkstyle-reduced"
                            name="addGroup"
                            value="{f:format.json(value: {L1GroupUid: '0', L0GroupUid: '{itemGroupL0.uid}', L0GroupIndex: '{groupCounterL0}'})}"
                        >
                            <f:render partial="ButtonIcon" arguments="{type:'add'}"/><f:format.raw>{f:translate(key:'tx_openoap.general.add_group', arguments: {0: itemGroupL0.title} )}</f:format.raw>
                        </f:form.button>
                    </div>
                </f:then>
            </f:if>
        </f:then>
        <f:else>
            <f:comment><!-- normal group --></f:comment>

            <v:variable.set name="itemGroup" value="{itemGroupL0}" />
            <v:variable.set name="itemGroupUid" value="{itemGroup.uid}" />
            <v:variable.set name="groupCounterL0" value="0" />
            <v:variable.set name="groupCurrentN" value="{groupsCounter.{itemGroupUid}.current}" />
            <v:variable.set name="nestedGroupClass" value="" />
            <v:variable.set name="nestedGroup" value="0" />

            <f:if condition="{itemGroup.displayType} == {groupDisplayTypes.GROUPDISPLAY_DEFAULT}">
                <f:then>
                    <f:render partial="Proposal/GroupDefault" arguments="{_all}" />
                </f:then>
                <f:else>
                    <f:render partial="Proposal/GroupTable" arguments="{_all}" />
                </f:else>
            </f:if>

        </f:else>
    </f:if>

</f:for>
</html>
