<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      v:schemaLocation="http://fluidtypo3.org/schemas/vhs-1.8.5.xsd"
      data-namespace-typo3-fluid="true">

<f:if condition="{itemGroupSecondLevel}">
    <v:variable.set name="itemGroup" value="{itemGroupL0}" />
    <v:variable.set name="groupId" value="{groupIdL0}" />
    <v:variable.set name="groupIt" value="{groupItL0}" />
</f:if>
<f:if condition="{itemGroup.displayType} == {groupDisplayTypes.GROUPDISPLAY_DEFAULT}">
    <f:then>
        <f:render partial="Proposal/GroupDefault" arguments="{_all}" />
    </f:then>
    <f:else>
        <f:render partial="Proposal/GroupTable" arguments="{_all}" />
    </f:else>
</f:if>

</html>
