<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      v:schemaLocation="http://fluidtypo3.org/schemas/vhs-1.8.5.xsd"
      data-namespace-typo3-fluid="true">

<fieldset>
    <legend class="form__group-legend {f:if(condition: '{nestedGroupClass}', then: 'form__group-legend--nested', else: '')}">
        <f:if condition="{nestedGroupClass}">
            <svg class="form__icon {nestedGroupClass} " width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="12" fill="#818994"/></svg>
        </f:if>
        {itemGroup.title}
    </legend>
    <div class="formpage-group__intro">
        <f:if condition="{itemGroup.introText}">
            <div class="form__group ">
                <div class="form__text form__text--intro">
                    {itemGroup.introText -> f:format.html()}
                </div>
                <f:if condition="{itemGroup.helpText}">
                    <div class="form__helptext">
                        <button type="button" class="form__helptext-control" aria-controls="oap-help-{propertyKeyIndex}" aria-expanded="false" data-disclosure-control>{f:translate(key:'tx_openoap_form.helptext.header')}</button>
                        <div class="form__helptext-text" id="oap-help-itemgroup-{itemGroup.uid}">{itemGroup.helpText -> f:format.html()}</div>
                    </div>
                </f:if>
            </div>
        </f:if>
    </div>
</fieldset>

<dl class="form__item-list">
    <f:for each="{itemGroup.items}" as="item" key="itemId" iteration="itemIt">
        <f:if condition="{item.introText}">
            <dt class="form__item-term"><f:format.raw>{item.question}</f:format.raw></dt>
            <dd>
                <f:if condition="{item.introText}">
                    <div class="form__text form__item-definition">{item.introText -> f:format.html()}</div>
                </f:if>
                <f:if condition="{item.helpText}">
                    <div class="form__helptext">
                        <button type="button" class="form__helptext-control" aria-controls="oap-help-{propertyKeyIndex}" aria-expanded="false" data-disclosure-control>{f:translate(key:'tx_openoap_form.helptext.header')}</button>
                        <div class="form__helptext-text" id="oap-help-{propertyKeyIndex}">{item.helpText -> f:format.html()}</div>
                    </div>
                </f:if>
            </dd>
        </f:if>
    </f:for>
</dl>

<f:comment><!-- itertion over groups--></f:comment>
<f:if condition="{nestedGroup}">
    <f:then>
        <v:variable.set name="groupsCounterIndex" value="{itemGroupL0Uid}.instances.{groupCounterL0}.{itemGroupUid}" />
        <v:variable.set name="cols" value="{groupsCounter.{groupsCounterIndex}.current}" />
    </f:then>
    <f:else>
        <v:variable.set name="cols" value="{groupsCounter.{itemGroupUid}.current}" />
    </f:else>
</f:if>

<div class="form__table form__table--{cols}cols">

    <f:variable name="row">1</f:variable>

    <v:iterator.loop count="{cols}" iteration="counter" >
        <v:variable.set name="groupCounterL1" value="{counter.index}" />
        <f:variable name="col-start">{counter.cycle + 1}</f:variable>
        <f:variable name="col-end">{counter.cycle + 2}</f:variable>

        <div class="form__table-cell form__table-cell--head" style="grid-area: {row}/{col-start}/{row}/{col-end};">
            <f:if condition="{itemGroup.groupTitle}">
                <f:then>
                    {itemGroup.groupTitle.{counter.index}.title}
                </f:then>
                <f:else>
                    #{counter.cycle}
                </f:else>
            </f:if>
        </div>
    </v:iterator.loop>
    <f:variable name="row">{row + 1}</f:variable>
    <f:for each="{itemGroup.items}" as="item" key="itemId" iteration="itemIt">

        <v:iterator.loop count="{cols}" iteration="counter" >
            <f:if condition="{itemGroup.groupTitle}">
                <f:then>
                    <v:variable.set name="colTitle" value="{itemGroup.groupTitle.{counter.index}.title}" />
                </f:then>
                <f:else>
                    <v:variable.set name="colTitle" value="#{counter.cycle}" />
                </f:else>
            </f:if>

            <v:variable.set name="groupCounterL1" value="{counter.index}" />
            <f:variable name="col-start">{counter.cycle + 1}</f:variable>
            <f:variable name="col-end">{counter.cycle + 2}</f:variable>

            <v:variable.set name="propertyKeyIndex" value="{itemGroup.uid}--{groupCounterL0}--{groupCounterL1}--{item.uid}" />
            <v:variable.set name="propertyKeyIndexAddValue" value="{itemGroup.uid}--{groupCounterL0}--{groupCounterL1}--{item.uid}--a" />
            <v:variable.set name="propertyKey" value="answers.{itemAnswerMap.{propertyKeyIndex}}.value" />
            <v:variable.set name="propertyKeyAdditionalValue" value="answers.{itemAnswerMap.{propertyKeyIndex}}.additionalValue" />
            <v:variable.set name="propertyKeyArray" value="answers.{itemAnswerMap.{propertyKeyIndex}}.arrayValue" />
            <v:variable.set name="propertyKeyComments" value="answers.{itemAnswerMap.{propertyKeyIndex}}.comments" />
            <v:variable.set name="answerId" value="{proposal.answers.{itemAnswerMap.{propertyKeyIndex}}.uid}" />

            <f:if condition="{counter.isFirst}">
                <div class="form__table-cell form__table-cell--label" style="grid-area: {row}/1/{row}/1;">
                    {item.question}
                    <f:if condition="{answersMap.{answerId}.item.MSign}"><f:render partial="Required.html" arguments="{MSign:'{answersMap.{answerId}.item.MSign}'}" /></f:if>
                    <f:if condition="{item.unit}"><span class="form__unit">[{item.unit}]</span></f:if>
                </div>
            </f:if>
            <div class="form__table-cell" style="grid-area: {row}/{counter.cycle +1}/{row}/{counter.cycle +1};" data-errorlabel="{item.question} - {colTitle}">
                <f:if condition="{item.type} == {itemTypes.TYPE_STRING}">
                    <f:form.textfield
                        type="{answersMap.{answerId}.item.type}"
                        property="{propertyKey}"
                        class="form__textfield {itemsMap.{item.uid}.classStr}"
                        id="oap-input-{propertyKeyIndex}"
                        additionalAttributes='{answersMap.{answerId}.item.additionalAttributes}'
                    />
                </f:if>
            </div>

        </v:iterator.loop>
        <f:variable name="row">{row + 1}</f:variable>
    </f:for>
</div>

    <f:for each="{itemGroup.items}" as="item" key="itemId" iteration="itemIt">
        <v:iterator.loop count="{cols}" iteration="counter" >
            <f:if condition="{itemGroup.groupTitle}">
                <f:then>
                    <v:variable.set name="colTitle" value="{itemGroup.groupTitle.{counter.index}.title}" />
                </f:then>
                <f:else>
                    <v:variable.set name="colTitle" value="#{itemIt.cycle}" />
                </f:else>
            </f:if>

            <v:variable.set name="groupCounterL1" value="{counter.index}" />

            <v:variable.set name="propertyKeyIndex" value="{itemGroup.uid}--{groupCounterL0}--{groupCounterL1}--{item.uid}" />
            <v:variable.set name="propertyKeyIndexAddValue" value="{itemGroup.uid}--{groupCounterL0}--{groupCounterL1}--{item.uid}--a" />
            <v:variable.set name="propertyKey" value="answers.{itemAnswerMap.{propertyKeyIndex}}.value" />
            <v:variable.set name="propertyKeyAdditionalValue" value="answers.{itemAnswerMap.{propertyKeyIndex}}.additionalValue" />
            <v:variable.set name="propertyKeyArray" value="answers.{itemAnswerMap.{propertyKeyIndex}}.arrayValue" />
            <v:variable.set name="propertyKeyComments" value="answers.{itemAnswerMap.{propertyKeyIndex}}.comments" />
            <v:variable.set name="answerId" value="{proposal.answers.{itemAnswerMap.{propertyKeyIndex}}.uid}" />
            <v:variable.set name="item" value="{item}" />

            <v:try><f:if condition="{proposal.{propertyKeyComments}}">
                <f:render
                        partial="Answer/Comments"
                        arguments="{
                        mode: 'FE',
                        comments:'{proposal.{propertyKeyComments}}',
                        commentStates:'{commentStates}',
                        answersMap:'{answersMap}',
                        answerId:'{answerId}',
                        item:'{item}',
                        colTitle:'{colTitle}'
                        }"
                />
            </f:if></v:try>
        </v:iterator.loop>
    </f:for>


</html>
