.t3-row-header {
    background-color: lime;
}

//.tx_openoap_domain_model_proposal {
//}

.table {
    .cell__date {
        &--live {
            background-color: var(--typo3-surface-success);
        }

    }
}
