<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
xmlns:femanager="In2code\Femanager\ViewHelpers"
data-namespace-typo3-fluid="true">

<f:form.hidden
        id="femanager_field_password"
        name="user[password]"
        value="" />

<f:form.hidden
        id="femanager_field_password_repeat"
        name="password_repeat"
        value="" />
 
<v:variable.set name="genderOption-0" value="" />      
<v:variable.set name="genderOption-1" value="{f:translate(key:'tx_femanager_domain_model_user.gender.item0')}" />
<v:variable.set name="genderOption-2" value="{f:translate(key:'tx_femanager_domain_model_user.gender.item1')}" />

<f:render partial="Form/SelectSingle" arguments="{field:'gender', options:'{1:genderOption-0, 2:genderOption-1, 3:genderOption-2}'}" />
<f:render partial="Form/Textfield" arguments="{field:'firstName'}" />
<f:render partial="Form/Textfield" arguments="{field:'lastName'}" />
<f:render partial="Form/Textfield" arguments="{field:'company'}" />
<f:render partial="Form/Textfield" arguments="{field:'address'}" />
<f:render partial="Form/Textfield" arguments="{field:'zip'}" />
<f:render partial="Form/Textfield" arguments="{field:'city'}" />
<f:render partial="Form/Textfield" arguments="{field:'www'}" />
<f:render partial="Form/Textfield" arguments="{field:'telephone'}" />
<f:render partial="Form/Textfield" arguments="{field:'companyEmail'}" />

<fieldset>
    <legend class="form__legend-register"><f:translate key="otherData" /></legend>
</fieldset>
<f:if condition="{stateEdit}">
    <p><f:translate key="LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:oap_profileform_otherdata.intro" /></p>
</f:if>
<f:render partial="Form/Textfield" arguments="{field:'preferredLang'}" />

</html>
