<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<button class="{f:if(condition: labeled, then: 'btn btn-primary', else: 'button')} action-add-comment" title="Add new comment">
    <core:icon identifier="actions-document-new" />
    <f:if condition="{labeled}">
        <span class="button-text icon-text">{f:translate(key:"LLL:EXT:open_oap/Resources/Private/Language/locallang_backend.xlf:preview.proposal.button.addComment")}</span>
    </f:if>
</button>

</html>
