{namespace femanager=In2code\Femanager\ViewHelpers}
<f:layout name="Default" />

	User / Show

<f:section name="main">
	<f:if condition="{settings.dashboardProfile}">
		<f:then>
			<f:render section="DashboardMasterData" arguments="{_all}" />
		</f:then>
		<f:else>
			<f:render section="ProfileData" arguments="{_all}" />
		</f:else>
	</f:if>
</f:section>

<f:section name="DashboardMasterData">
	<div class="profile">
		<h3><f:translate key="LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:oap_masterdata.header" /></h3>
		<f:comment><f:render partial="Misc/FlashMessages" arguments="{_all}" /></f:comment>

		<f:if condition="{user} && {user.company} && {user.lastName} && {user.city} && {user.companyEmail}">
			<f:then>
				
				<dl class="profile__summary profile__summary--dashboard">
					<f:render section="ProfileItem" arguments="{item:user.company, tKey:'tx_femanager_domain_model_user.company'}" />
					
					<f:render section="ProfileItem" arguments="{item:'{user.firstName} {user.lastName}', 
						tKey:'tx_femanager_domain_model_user.name'}" />
					
					<f:render section="ProfileItem" arguments="{item:'{f:if(condition:user.address, then:\'{user.address}, \')} {user.zip} {user.city}', 
						tKey:'tx_femanager_domain_model_user.addressCombined'}" />
					
					<f:render section="ProfileItem" arguments="{item:user.telephone, tKey:'tx_femanager_domain_model_user.telephone'}" />	
					
					<f:render section="ProfileItem" arguments="{item:user.companyEmail, tKey:'tx_femanager_domain_model_user.companyEmail'}" />
						
				</dl>
				
			</f:then>
			<f:else>
				<div><f:translate key="LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:oap_masterdata.minimal.info" /></div>
			</f:else>
		</f:if>
		
		<div class="profile__edit-link">
			<f:link.action action="edit" controller="Edit" pageUid="{settings.masterdataEditPid}">
				<f:translate key="masterdata.edit.label" />
			</f:link.action>
		</div>
	</div>
</f:section>

<f:section name="ProfileData">
	<div class="profile">
		<f:comment><f:render partial="Misc/FlashMessages" arguments="{_all}" /></f:comment>
		<f:if condition="{user}">
		
			<f:comment>MASTERDATA BLOCK</f:comment>
			<div class="component">
				<h2 class="profile__header">
					<span class="profile__header-text"><f:translate key="LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:oap_masterdata.header" /></span>
					<f:link.action action="edit" controller="Edit" pageUid="{settings.masterdataEditPid}" class="profile__section-edit">
						<f:translate key="LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:oap_dataEdit.title" />
					</f:link.action>
				</h2>

				<dl class="profile__detail">
					<f:render section="ProfileItem" arguments="{item:user.company, tKey:'tx_femanager_domain_model_user.company'}" />

					<f:render section="ProfileItem" arguments="{item:'{user.firstName} {user.lastName}',
						tKey:'tx_femanager_domain_model_user.name'}" />

					<f:render section="ProfileItem" arguments="{item:'{f:if(condition:user.address, then:\'{user.address}, \')} {user.zip} {user.city}',
						tKey:'tx_femanager_domain_model_user.addressCombined'}" />

					<f:render section="ProfileItem" arguments="{item:user.telephone, tKey:'tx_femanager_domain_model_user.telephone'}" />

					<f:render section="ProfileItem" arguments="{item:user.companyEmail, tKey:'tx_femanager_domain_model_user.companyEmail'}" />

					<f:render section="ProfileItem" arguments="{item:user.www, tKey:'tx_femanager_domain_model_user.www', url:user.www}" />

				</dl>
			
			<f:comment>Other Masterdata</f:comment>
			<h3 class="profile__header profile__header--sub"><f:translate key="otherData" /></h3>
			<dl class="profile__detail">
				<f:render section="ProfileItem" arguments="{
					item:user.preferredLang,
					tKey:'tx_femanager_domain_model_user.preferredLang'}" />
			</dl>
			
			<f:comment>ACCESSDATA BLOCK</f:comment>
			<h2 class="profile__header">
				<span class="profile__header-text"><f:translate key="LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:oap_accessdata.header" /></span>
				<f:link.action action="edit" controller="Edit" pageUid="{settings.accessdataEditPid}" class="profile__section-edit">
					<f:translate key="LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:oap_dataEdit.title" />
				</f:link.action>
			</h2>

			<dl class="profile__detail">
				<f:render section="ProfileItem" arguments="{
					item:user.username, 
					tKey:'tx_femanager_domain_model_user.username'}" />
				<f:render section="ProfileItem" arguments="{
					item:'password',
					tKey:'tx_femanager_domain_model_user.password'}" />
			</dl>
			
		</f:if>	
	<div>
</f:section>

<f:section name="ProfileItem">
	<div class="profile__detail-item">
		<dt class="profile__detail-term"><f:translate key="{tKey}" /></dt>
		<dd class="profile__detail-definition">
			<f:if condition="{item}">
				<f:then>
					<f:if condition="{url}">
						<f:then><f:link.typolink parameter="{url}">{item}</f:link.typolink></f:then>
						<f:else if="{item}=='password'">
							<span class="aural"><f:translate key="notDisplayed" /></span>
							<span class="profile__password" aria-hidden="true">&#11044; &#11044; &#11044; &#11044; &#11044; &#11044; &#11044;</span>
						</f:else>
						<f:else>{item}</f:else>
					</f:if>
				</f:then>
				<f:else>
					<span class="aural"><f:translate key="empty" /></span>
					<span aria-hidden="true">-----</span>
				</f:else>
			</f:if>
		</dd>
	</div>
</f:section>
