<f:flashMessages />

<h1><f:translate key="LLL:EXT:open_oap/Resources/Private/Language/locallang_backend.xlf:module_headline" /></h1>

<h2>cosmostage</h2>
<ul>
    <li><a href="https://giz-oap.cosmostage.de/typo3" target="cosmostageBE">Backend</a></li>
    <li><a href="https://giz-oap.cosmostage.de/" target="cosmostageFE">Frontend</a></li>
</ul>

<h2>ddev (local)</h2>
<ul>
    <li><a href="https://oap.ddev.site//typo3" target="ddevBE">Backend</a></li>
    <li><a href="https://oap.ddev.site/" target="ddevFE">Frontend</a></li>
</ul>

