$color-separator: #d0d0d0;

// backend module

$color-blue: #163986;
$color-background-1: #ebebeb;
$color-background-2: white;

$proposal-padding-1: 8;
$proposal-padding-2: 10;

$proposal-margin-1: 16;
$proposal-margin-2: 20;

