<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
  xmlns:femanager="In2code\Femanager\ViewHelpers"
  data-namespace-typo3-fluid="true">
<f:layout name="Default" />

Invitation / Edit
Available variables:
{user}
{hash}

<f:section name="main"><f:spaceless>
    <f:if condition="{user}">
        <f:form.validationResults for="{user}">
            <f:if condition="{validationResults.flattenedErrors}">
                <v:variable.set name="errorCodes"><v:variable.convert type="array"/></v:variable.set>
                <f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
                    <f:for each="{errors}" as="error" iteration="errorIterator">
                        <v:variable.set name="errorCodes.{errorIterator.index}" value="{error.arguments.field}"/>
                    </f:for>
                </f:for>
            </f:if>
        </f:form.validationResults>

        <f:if condition="'STEP-3' == {user.preferredLang}">
            <f:then>
                <f:render section="Register-STEP-3" arguments="{_all}" />
            </f:then>
            <f:else>
                <f:render section="Register-STEP-2" arguments="{_all}" />
            </f:else>
        </f:if>

    </f:if>
</f:spaceless></f:section>


<f:section name="Register-STEP-2"><f:spaceless>
<f:comment>
    <h1><f:translate key="LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:oap_registration.header" /></h1>
</f:comment>
    <h2><f:translate key="LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:oap_registrationform_step2.header" /></h2>

    <f:form
        name="user"
        object="{user}"
        action="update"
        additionalAttributes="{data-femanager-plugin:data.uid}"
        class="form form--register {f:if(condition:'{settings.invitation.validation._enable.client}',then:'feManagerValidation',else:'')}">

        <div role="alert">
            <f:render partial="Misc/FlashMessages" arguments="{_all}" />
            <f:render partial="Misc/FormErrors" arguments="{_all}" />
        </div>

        <f:render partial="Misc/RequiredInfo" arguments="{}" />
        <p class="form__required-info"><f:translate key="LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:oap_registration_password.info" /></p>
        <f:render section="FormContentSetPassword" arguments="{_all}" />
    </f:form>
</f:spaceless></f:section>


<f:section name="Register-STEP-3"><f:spaceless>
<f:comment>
    <h1><f:translate key="LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:oap_registration.header" /></h1>
</f:comment>
    <h2><f:format.raw><f:translate key="LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:oap_registrationform_step3.header" /></f:format.raw></h2>
    <p>**<f:format.raw><f:translate key="LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:oap_registrationform_step3.intro" /></f:format.raw></h3>

    <f:render partial="Misc/FlashMessages" arguments="{_all}" />
    <f:render partial="Misc/FormErrors" arguments="{object:User}" />

    <f:form
            name="user"
            object="{user}"
            action="update"
            additionalAttributes="{data-femanager-plugin:data.uid}"
            class="form form--register {f:if(condition:'{settings.invitation.validation._enable.client}',then:'feManagerValidation',else:'')}">

            <f:render partial="Form/MasterData" arguments="{_all}" />

            <f:render partial="Form/Submit" arguments="{name:'submit', tKey:'submitSave', dataParam: '{dialog-next:1}'}" />
    </f:form>
</f:spaceless></f:section>


<f:section name="FormContentSetPassword"><f:spaceless>
    <div class="form__group">
        <label class="ieval-label">
            <f:translate key="tx_femanager_domain_model_user.username" />
        </label>
        <femanager:form.textfield
            property="username"
            id="femanager_field_username"
            disabled="true"
            readonly="true" />
    </div>
    <f:render partial="Form/PasswordField" arguments="{field:'password',autocomplete:'new-password'}" />
    <f:render partial="Form/Submit" arguments="{name:'submit', tKey:'submitNext', dataParam: '{dialog-next:1}'}" />
</f:spaceless></f:section>

</html>
