<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:femanager="In2code\Femanager\ViewHelpers"
  data-namespace-typo3-fluid="true">
<div class="{fieldWrapperClasses}">
	<label for="femanager_field_password">
		<f:translate key="tx_femanager_domain_model_user.password" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'password')}">
			<f:render partial="Misc/Required" arguments="{}" />
		</f:if>
	</label>
	
	<f:form.password
			id="femanager_field_password"
			property="password"
			value="" 
			placeholder="{f:translate(key:'tx_femanager_domain_model_user.password')}"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'password')}" />
</div>

<div class="{fieldWrapperClasses}">
	<label for="femanager_field_password_repeat">
		<f:translate key="passwordRepeat" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'password')}">
			<f:render partial="Misc/Required" arguments="{}" />
		</f:if>
	</label>
	
	<f:form.password
			id="femanager_field_password_repeat"
			name="password_repeat"
			value=""
			placeholder="{f:translate(key:'passwordRepeat')}"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'password_repeat')}" />
</div>
</html>
