<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:femanager="In2code\Femanager\ViewHelpers"
  data-namespace-typo3-fluid="true">
<div class="{fieldWrapperClasses}">
	<label for="femanager_field_username">
		<f:translate key="tx_femanager_domain_model_user.email" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'username')}">
			<f:render partial="Misc/Required" arguments="{}" />
		</f:if>
	</label>

	<femanager:form.textfield
		id="femanager_field_username"
		property="username"
		placeholder="{f:translate(key:'tx_femanager_domain_model_user.email')}"
		additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'username')}" />
</div>
</html>
