<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:pdf="http://typo3.org/ns/Bithost/Pdfviewhelpers/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
    v:schemaLocation="http://fluidtypo3.org/schemas/vhs-1.8.5.xsd"
    data-namespace-typo3-fluid="true">

Available variables:
    {proposal}
    {answers}
    {answersMap}
    {itemAnswerMap}
    {groupsCounter}
    {destination}
    {settings}

<pdf:document outputDestination="{destination}" outputPath="{filepath}" title="{proposal.title}" pdfa="1">
    <pdf:header>
        <pdf:image src="EXT:cb_cosmobase/Resources/Public/Images/logos/logo-main.svg" width="20%" alignment="left" />
    </pdf:header>
    <pdf:footer>
        <pdf:text alignment="right" fontFamily="opensans" fontSize="9">{pdf:getPageNumberAlias()} / {pdf:getTotalNumberOfPagesAlias()}</pdf:text>
    </pdf:footer>
    <pdf:page margin="{top:30, bottom:20}">
        {v:variable.set(name:'footnoteCounter', value:0)}
        <pdf:html styleSheet="EXT:open_oap/Resources/Public/Css/styles.css" autoHyphenation="1" padding="{bottom: 5}">
            {v:variable.set(name:'answerSection', value:1)}
            <f:render section="Style" />
            <h1 class="page__title"><span class="hyphenated">{proposal.call.title}</span></h1>
            <f:if condition="{proposal.call.introText}">
                {proposal.call.introText -> f:format.html()}
            </f:if>
            <h2><span class="hyphenated">{proposal.title}</span></h2>
            <f:render section="StatusInfos" arguments="{proposal:proposal, generatedDate:generatedDate, generatedTime:generatedTime}" />
            <f:render section="MetaInfos" arguments="{proposal:proposal, settings:settings}" />
            <f:if condition="{commentsAtProposal -> f:count()} > 0">
                {v:variable.set(name:'footnoteCounter', value:'{footnoteCounter+1}')}
                {v:variable.set(name:'commentsAtProposalCount', value:'{commentsAtProposal -> f:count()}')}
                <div><span class="footnote">({commentsAtProposalCount} {f:if(condition:'1 == {commentsAtProposalCount}', then:'{f:translate(key:\'LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:tx_openoap_notifications.pdf.singular.label\')}', else:'{f:translate(key:\'LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:tx_openoap_notifications.pdf.plural.label\')}')}) <sup>{footnoteCounter}</sup></span></div>
            </f:if>
            <f:render section="ProposalPreview" arguments="{_all}" />
            <div>
                <div>{f:translate(key:'LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:tx_openoap.general.submit_accepted')}</div>
            </div>
        </pdf:html>

        <f:if condition="{footnoteCounter} > 0">
            <pdf:pageBreak />
            
            <pdf:html autoHyphenation="1" padding="{bottom: 5}">
                {v:variable.set(name:'answerSection', value:0)}
                <f:render section="Style" />
                <h2><span class="hyphenated">{f:translate(key:'LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:tx_openoap_notifications.pdf.header')}</span></h2>
                <f:if condition="{commentsAtProposal -> f:count()} > 0">
                    <f:spaceless>
                    <div></div>
                    <p>
                        <strong><sup>{footnoteCounter}</sup> {f:translate(key:'LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:tx_openoap_notifications.pdf.generalComments.label')}:</strong>
                    </p>
                    </f:spaceless>
                    <dl>
                    <f:for each="{commentsAtProposal}" as="commentAtProposal"><dt style="text-indent:8px;"><f:render partial="Comment/Date" arguments="{time:commentAtProposal.created}" /><f:if condition="{commentAtProposal.author} && {commentAtProposal.author.realName}">, {commentAtProposal.author.realName}</f:if></dt><dd>{commentAtProposal.text}</dd></f:for>
                    </dl>
                </f:if>
                <f:render section="ProposalPreview" arguments="{_all}" />
            </pdf:html>
        </f:if>
    </pdf:page>
</pdf:document>

<f:section name="Style">
    <style>
        * {font-family:"opensansregular",sans-serif;font-size:10pt;line-height:14pt;}
        h1 {font-size:18pt;line-height:22pt;margin-bottom:0;}
        h2 {font-size:16pt;line-height:20pt;margin-bottom:0;}
        h3 {font-size:14pt;line-height:18pt;margin-bottom:0;}
        h4 {font-size:12pt;line-height:16pt;margin-bottom:0;}
        strong {font-family:"opensansbold",sans-serif;}
        div {line-height:8pt;}
        dt {font-family:"opensansregular",sans-serif;font-size:10pt;line-height:18pt;color:#686e78;}
        dd {font-size:10pt;line-height:14pt}
        br.brLineHeight {line-height:16pt;}
        div.pdf_list__item .intro_text, .notification_list__label {line-height:14pt;color:#686e78;}
        div.pdf_list__item p {font-size:10pt;line-height:14pt;}
        .pdf_list__item {border-bottom:1px solid #dde0e2;}
        .footnote {font-size:9pt;line-height:12pt;color:#686e78;}
        .aural {display: none;}
    </style>
</f:section>

<f:section name="ProposalPreview">
<f:spaceless>
    <f:for each="{proposal.call.formPages}" as="formPage" key="pageId" iteration="pageIt">
        <f:if condition="{formPage.type} == 'PAGETYPE_DEFAULT'">

            <f:if condition="1 == {answerSection}">
                <h3><span class="hyphenated">{formPage.title}</span></h3>
                <f:if condition="{formPage.introText}">
                    {formPage.introText -> f:format.html()}
                </f:if>
            </f:if>

            <f:for each="{formPage.itemGroups}" as="itemGroup">
                <v:iterator.loop iteration="counter" count="{groupsCounter.{itemGroup.uid}}" >
                    <v:variable.set name="elementCounter" value="{counter.index}" />
                    
                    <f:if condition="1 == {answerSection}">
                        <h4><span class="hyphenated">{itemGroup.title}</span></h4>
                        <f:if condition="{itemGroup.introText}">
                            {itemGroup.introText -> f:format.html()}
                        </f:if>
                        <br>
                        <div class="pdf_list">
                    </f:if>
                    
                    <f:for each="{itemGroup.items}" as="item" iteration="ii">
                        <v:variable.set name="propertyKeyIndex" value="{itemGroup.uid}--{elementCounter}--{item.uid}" />
                        <v:variable.set name="propertyKeyUid" value="answers.{itemAnswerMap.{propertyKeyIndex}}.uid" />
                        <v:variable.set name="propertyKeyComments" value="answers.{itemAnswerMap.{propertyKeyIndex}}.comments" />
                        <v:variable.set name="answerId" value="{proposal.answers.{itemAnswerMap.{propertyKeyIndex}}.uid}" />
                        <v:variable.set name="pdfstyle" value="1" />

                        <f:if condition="1 == {answerSection}">
                            <f:then>

                                <div class="pdf_list__item">
                                    <div></div>
                                    <p><strong>{item.question}:</strong></p>
    
                                    <f:if condition="{item.introText}">
                                        <f:comment><!--
                                        <p class="intro_text"><f:format.nl2br><f:format.stripTags allowedTags="<br>">{item.introText}</f:format.stripTags></f:format.nl2br></p>
                                        --></f:comment>
                                        <div class="intro_text">{item.introText -> f:format.html()}</div>
                                    </f:if>

                                    <p class="pdf_list__answer"><f:format.nl2br>
                                        <f:format.stripTags allowedTags="<br><ul><li>"><f:spaceless><f:render partial="Utility/ValueOutput" arguments="{_all}" /></f:spaceless></f:format.stripTags></f:format.nl2br>
                                    
                                        <f:if condition="{proposal.{propertyKeyComments}}">
                                            {v:variable.set(name:'footnoteCounter', value:'{footnoteCounter+1}')}
                                            {v:variable.set(name:'commentsCount', value:'{proposal.{propertyKeyComments} -> f:count()}')}
                                            <br class="brLineHeight"><span class="footnote">({commentsCount} {f:if(condition:'1 == {commentsCount}', then:'{f:translate(key:\'LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:tx_openoap_notifications.pdf.singular.label\')}', else:'{f:translate(key:\'LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:tx_openoap_notifications.pdf.plural.label\')}')}) <sup>{footnoteCounter}</sup></span>
                                        </f:if>
                                    </p>
                                    <br><br>
                                </div>

                            </f:then>
                            <f:else>

                                <f:if condition="{proposal.{propertyKeyComments}}">
                                    {v:variable.set(name:'footnoteCounter', value:'{footnoteCounter+1}')}
                                    <div></div>
                                    <p>
                                        <strong><sup>{footnoteCounter}</sup> {item.question}:</strong>
                                    </p>

                                    <f:format.stripTags allowedTags="<br><dl><dt><dd>"><f:spaceless><f:render partial="Answer/Comments" section="listOfComments" arguments="{comments:'{proposal.{propertyKeyComments}}',answersMap:'{answersMap}',answerId:'{answerId}'}" /></f:spaceless></f:format.stripTags>
                                </f:if>
                            </f:else>
                        </f:if>

                    </f:for>
                    <f:if condition="1 == {answerSection}">
                        </div>
                    </f:if>
                </v:iterator.loop>
            </f:for>

        </f:if>
    </f:for>
</f:spaceless>
</f:section>

<f:section name="StatusInfos">
<f:spaceless>
    <p>
        <span>{f:translate(key:'LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:tx_openoap_proposals.exportGenerated.text', arguments:'{0:generatedDate, 1:generatedTime}')}</span>
        <br><span>{f:translate(key:'LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:tx_openoap_proposals.exportStatus.text')}: {f:translate(key:'LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:tx_openoap_domain_model_proposal.state.{proposal.state}')}</span>
    </p>
</f:spaceless>
</f:section>

<f:section name="MetaInfos">
<f:spaceless>
    <p>
    <span>{f:translate(key:'LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:tx_openoap_proposals.author.label')}:</span>&nbsp;<f:if condition="{proposal.applicant.firstName} || {proposal.applicant.lastName}">{proposal.applicant.firstName} {proposal.applicant.lastName}
    &nbsp;{settings.metaInfoSeparator}&nbsp;</f:if>{proposal.applicant.username}
    <br>
    <span>{f:translate(key:'LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:tx_openoap_dashboard.proposal.lastChange.label')}:</span>&nbsp;<span title="{proposal.editTstamp -> f:format.date(format='d.m.Y - H:i')}"><f:format.date format="d.m.Y">{proposal.editTstamp}</f:format.date></span>
    <v:variable.set name="jsonArray" value="{proposal.metaInformation -> v:format.json.decode()}"/>
    <f:if condition="{jsonArray.info}">&nbsp;{settings.metaInfoSeparator}&nbsp;</f:if>{jsonArray.info}
    <f:if condition="{proposal.signature} > 0">
        &nbsp;{settings.metaInfoSeparator}&nbsp;{f:translate(key:'LLL:EXT:open_oap/Resources/Private/Language/locallang.xlf:tx_openoap_dashboard.proposal.signature.label')}:
        <f:if condition="{proposal.call.shortcut} !== ''">{proposal.call.shortcut}_</f:if>
        <f:format.printf arguments="{0: '{proposal.signature}'}">{settings.signatureFormat}</f:format.printf>
    </f:if>
    </p>
</f:spaceless>
</f:section>
</html>
