<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<be:moduleLayout>
    <f:be.pageRenderer 
        includeCssFiles="{
            0: '{f:uri.resource(path:\'Css/Backend.css\')}'}" 
        includeRequireJsModules="{
            0:'TYPO3/CMS/OpenOap/BackendProposals'}" />

    <be:moduleLayout.menu identifier="ModuleMenu">
        <f:switch expression="{actionName}">
            <f:case value="listProposalsAction">
                <be:moduleLayout.menuItem label="{f:translate(key:'LLL:EXT:open_oap/Resources/Private/Language/locallang_backend.xlf:menu.list_proposals')}" uri="{f:uri.action(controller: 'BackendProposals', action: 'listProposals')}" />
                <be:moduleLayout.menuItem label="{f:translate(key:'LLL:EXT:open_oap/Resources/Private/Language/locallang_backend.xlf:menu.overview')}" uri="{f:uri.action(controller: 'BackendProposals', action: 'showOverviewProposals')}" />
            </f:case>
            <f:case value="showOverviewProposalsAction">
                <be:moduleLayout.menuItem label="{f:translate(key:'LLL:EXT:open_oap/Resources/Private/Language/locallang_backend.xlf:menu.overview')}" uri="{f:uri.action(controller: 'BackendProposals', action: 'showOverviewProposals')}" />
                <be:moduleLayout.menuItem label="{f:translate(key:'LLL:EXT:open_oap/Resources/Private/Language/locallang_backend.xlf:menu.list_proposals')}" uri="{f:uri.action(controller: 'BackendProposals', action: 'listProposals')}" />
            </f:case>
            <f:case value="showProposalAction">
                <be:moduleLayout.menuItem label="{f:translate(key:'LLL:EXT:open_oap/Resources/Private/Language/locallang_backend.xlf:menu.show_proposal')}" uri="{f:uri.action(controller: 'BackendProposals', action: 'showProposal')}" />
                <be:moduleLayout.menuItem label="{f:translate(key:'LLL:EXT:open_oap/Resources/Private/Language/locallang_backend.xlf:menu.list_proposals')}" uri="{f:uri.action(controller: 'BackendProposals', action: 'listProposals')}" />
                <be:moduleLayout.menuItem label="{f:translate(key:'LLL:EXT:open_oap/Resources/Private/Language/locallang_backend.xlf:menu.overview')}" uri="{f:uri.action(controller: 'BackendProposals', action: 'showOverviewProposals')}" />
            </f:case>
        </f:switch>
    </be:moduleLayout.menu>

    <f:render section="content" />
</be:moduleLayout>

</html>
